<a href="https://colab.research.google.com/github/sid0312/10DaysMLChallenge/blob/master/Regression_models.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import LabelEncoder

In [0]:
data=pd.read_csv('/content/drive/My Drive/cereal.csv')

In [4]:
data.head(10)

                        name mfr type  calories  ...  shelf  weight  cups     rating
0                  100% Bran   N    C        70  ...      3    1.00  0.33  68.402973
1          100% Natural Bran   Q    C       120  ...      3    1.00  1.00  33.983679
2                   All-Bran   K    C        70  ...      3    1.00  0.33  59.425505
3  All-Bran with Extra Fiber   K    C        50  ...      3    1.00  0.50  93.704912
4             Almond Delight   R    C       110  ...      3    1.00  0.75  34.384843
5    Apple Cinnamon Cheerios   G    C       110  ...      1    1.00  0.75  29.509541
6                Apple Jacks   K    C       110  ...      2    1.00  1.00  33.174094
7                    Basic 4   G    C       130  ...      3    1.33  0.75  37.038562
8                  Bran Chex   R    C        90  ...      1    1.00  0.67  49.120253
9                Bran Flakes   P    C        90  ...      3    1.00  0.67  53.313813

[10 rows x 16 columns]

In [5]:
data.shape

(77, 16)

In [6]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 16 columns):
name        77 non-null object
mfr         77 non-null object
type        77 non-null object
calories    77 non-null int64
protein     77 non-null int64
fat         77 non-null int64
sodium      77 non-null int64
fiber       77 non-null float64
carbo       77 non-null float64
sugars      77 non-null int64
potass      77 non-null int64
vitamins    77 non-null int64
shelf       77 non-null int64
weight      77 non-null float64
cups        77 non-null float64
rating      77 non-null float64
dtypes: float64(5), int64(8), object(3)
memory usage: 9.8+ KB
None

In [7]:
cat_data=data.select_dtypes(include=['object']).copy()
cat_data.head(10)

                        name mfr type
0                  100% Bran   N    C
1          100% Natural Bran   Q    C
2                   All-Bran   K    C
3  All-Bran with Extra Fiber   K    C
4             Almond Delight   R    C
5    Apple Cinnamon Cheerios   G    C
6                Apple Jacks   K    C
7                    Basic 4   G    C
8                  Bran Chex   R    C
9                Bran Flakes   P    C

In [0]:
cat_data.drop(columns=['name'],inplace=True)

In [9]:
cat_data.tail(10)

   mfr type
67   K    C
68   N    C
69   G    C
70   G    C
71   G    C
72   G    C
73   G    C
74   R    C
75   G    C
76   G    C

In [10]:
print(cat_data['mfr'].value_counts(),cat_data['type'].value_counts(),sep="\n________________________\n\n")

K    23
G    22
P     9
R     8
Q     8
N     6
A     1
Name: mfr, dtype: int64
________________________

C    74
H     3
Name: type, dtype: int64

In [0]:
cat_data=cat_data.copy()
cat_data=pd.get_dummies(cat_data,columns=['mfr'],prefix=['mfr'])

In [12]:
cat_data.head(10)

  type  mfr_A  mfr_G  mfr_K  mfr_N  mfr_P  mfr_Q  mfr_R
0    C      0      0      0      1      0      0      0
1    C      0      0      0      0      0      1      0
2    C      0      0      1      0      0      0      0
3    C      0      0      1      0      0      0      0
4    C      0      0      0      0      0      0      1
5    C      0      1      0      0      0      0      0
6    C      0      0      1      0      0      0      0
7    C      0      1      0      0      0      0      0
8    C      0      0      0      0      0      0      1
9    C      0      0      0      0      1      0      0

In [0]:
le = LabelEncoder()
cat_data['type'] = le.fit_transform(cat_data['type'])

In [0]:
data.drop(columns=['name','mfr','type'],inplace=True)

In [15]:

data.head()

   calories  protein  fat  sodium  ...  shelf  weight  cups     rating
0        70        4    1     130  ...      3     1.0  0.33  68.402973
1       120        3    5      15  ...      3     1.0  1.00  33.983679
2        70        4    1     260  ...      3     1.0  0.33  59.425505
3        50        4    0     140  ...      3     1.0  0.50  93.704912
4       110        2    2     200  ...      3     1.0  0.75  34.384843

[5 rows x 13 columns]

In [0]:
result=list(data['rating'])
data.drop(columns=['rating'],inplace=True)

In [17]:
data.head()

   calories  protein  fat  sodium  fiber  ...  potass  vitamins  shelf  weight  cups
0        70        4    1     130   10.0  ...     280        25      3     1.0  0.33
1       120        3    5      15    2.0  ...     135         0      3     1.0  1.00
2        70        4    1     260    9.0  ...     320        25      3     1.0  0.33
3        50        4    0     140   14.0  ...     330        25      3     1.0  0.50
4       110        2    2     200    1.0  ...      -1        25      3     1.0  0.75

[5 rows x 12 columns]

In [0]:
data['type']=cat_data['type']
data['mfr_A']=cat_data['mfr_A']
data['mfr_G']=cat_data['mfr_G']
data['mfr_K']=cat_data['mfr_K']
data['mfr_N']=cat_data['mfr_N']
data['mfr_P']=cat_data['mfr_P']
data['mfr_Q']=cat_data['mfr_Q']
data['mfr_R']=cat_data['mfr_R']
feature_names=list(data.columns)
label_names=['rating']

In [19]:
data.head()

   calories  protein  fat  sodium  fiber  ...  mfr_K  mfr_N  mfr_P  mfr_Q  mfr_R
0        70        4    1     130   10.0  ...      0      1      0      0      0
1       120        3    5      15    2.0  ...      0      0      0      1      0
2        70        4    1     260    9.0  ...      1      0      0      0      0
3        50        4    0     140   14.0  ...      1      0      0      0      0
4       110        2    2     200    1.0  ...      0      0      0      0      1

[5 rows x 20 columns]

In [0]:
data['rating']=result

In [21]:
data.head(10)

   calories  protein  fat  sodium  fiber  ...  mfr_N  mfr_P  mfr_Q  mfr_R     rating
0        70        4    1     130   10.0  ...      1      0      0      0  68.402973
1       120        3    5      15    2.0  ...      0      0      1      0  33.983679
2        70        4    1     260    9.0  ...      0      0      0      0  59.425505
3        50        4    0     140   14.0  ...      0      0      0      0  93.704912
4       110        2    2     200    1.0  ...      0      0      0      1  34.384843
5       110        2    2     180    1.5  ...      0      0      0      0  29.509541
6       110        2    0     125    1.0  ...      0      0      0      0  33.174094
7       130        3    2     210    2.0  ...      0      0      0      0  37.038562
8        90        2    1     200    4.0  ...      0      0      0      1  49.120253
9        90        3    0     210    5.0  ...      0      1      0      0  53.313813

[10 rows x 21 columns]

In [0]:
from sklearn.model_selection import train_test_split

In [0]:
X=data[feature_names]
y=data['rating']
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)

In [0]:
from sklearn.preprocessing import StandardScaler

In [0]:
scale=StandardScaler()

In [0]:
X_train = scale.fit_transform(X_train)
X_test = scale.transform(X_test)

In [29]:
linearReg=LinearRegression(normalize=True)
linearReg.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=True)

In [30]:
linearReg.score(X_test,y_test)

0.9999999999999993

In [31]:
linearReg.score(X_train,y_train)

0.9999999999999997

In [34]:
print('Accuracy of Linear regression classifier on training set: {:.2f}'
     .format(linearReg.score(X_train, y_train)))
print('Accuracy of Linear regression classifier on test set: {:.2f}'
     .format(linearReg.score(X_test, y_test)))

Accuracy of Linear regression classifier on training set: 1.00
Accuracy of Linear regression classifier on test set: 1.00